.textinput {
    display: flex;
    flex-direction: column;
}

.textinput__label {
    margin-bottom: 10px;
    color: #fff;
}

.textinput__input-text {
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 5px 8px;
    vertical-align: middle;
    outline: none;
    border-radius: 2px;
}

.textinput__error {
    color: #D8000C;
    padding: 0 1px;
    font-size: 13px;
    margin-top: 5px;
}