.Card {
    min-width: 400px;
}

.Card__heading {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #667aff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.Card__heading-no-close {
    justify-content: center;
}

.Card__heading-with-close {
    justify-content: space-between;
}

.Card__heading-close-icon {
    cursor: pointer;
    color:#FFF;
}

.Card__body {
    padding: 0px 20px;
    border: 1px solid #7386ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 450px;
    max-width: 400px;
    overflow-y: scroll;
    position: relative;
}